<h3>Remove favorite</h3>
<p>Are you sure you want to delete this?</p>

<%= form_for @favorite do |f| %>
  <%= f.label :name %>:
  <%= @favorite.tag.name %><br/>
  <%= f.label :score_threshold %>
  <%= f.number_field :score_threshold %><br/>
  <%= submit_tag("Update") %>
<% end %>

<%= link_to("Back to favorites", "/favorites")%>