<!DOCTYPE html>
<html>
<head>
  <title>HN</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "navbar-fix">
    <ul id = "nav">
      <li id = "navlink"><%= link_to "Home", root_path %></li>
      <li id = "navlink"><%= render 'devise/menu/session_items' %></li>
      <li id = "navlink"><%= render 'devise/menu/registration_items' %></li>
      <!-- Make this only when user is signed in -->
      <li id = "navlink"><a href="/subscriber/digest">Digest</a></li>
      <li><%= link_to('Logout', destroy_subscriber_session_path, :method => :delete) %></li>

    </ul>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>


</body>
</html>
